<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c2e094ea21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'h.css' %}" type='text/css'>
    <title></title>
</head>
<body>
    <header>
        <a href="" class="logo"><span>ml</span>-cars</a>
        <button class="burger" onclick="toggleMenu()"><img id="imgnv" class="oneimgnv" src="{% static 'photos/steering-wheel-removebg-preview.png' %}" alt="">
            <img class="twoimgnv" src="{% static 'photos/steering-wheel__1_-removebg-preview.png' %}" alt=""></button>
        <div class="bg"></div>
        <div class="menu">
            <nav>
                <a href="">home</a>
                <a href="#d">about</a>
                <a href="">login</a>
                <a href="">cars</a>
                <a href="">contact</a>
            </nav>
        </div>
    </header>
    <script type="text/javascript">
        const toggleMenu = () => {
            document.body.classList.toggle("open");
        }
    </script>
</body>
</html>
{% block 'nav' %}
{% endblock  %}